@import "./assets/css/checkbox.css";
@import url("https://unpkg.com/leaflet@1.5.1/dist/leaflet.css");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #49928c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.leaflet-container {
  height: 400px;
  width: 100%;
}

.bg-primary {
  background: #247ba0;
}

.bg-gray {
  background: #ecebec;
}

.cl-white {
  color: #ffffff;
}

.w-rem-6 {
  width: 6rem;
}

.w-p-15 {
  width: 15%;
}

.min-w-5-em {
  min-width: 5em;
}

.w-90 {
  width: 90%;
}

.cursor-pointer {
  cursor: pointer;
}

.h-em-20 {
  height: 20em;
}

.h-80vh {
  height: 80vh;
}

.max-h-26 {
  max-height: 30em;
}

.divider {
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.mt-p-10 {
  margin-top: 10%;
}

.mt-p-20 {
  margin-top: 20%;
}

.img-car {
  position: absolute;
  width: 40%;
}

.transform-uppercase {
  text-transform: uppercase;
}

#map {
  height: 100%;
}

.content-centro {
  max-height: 28em;
  overflow: auto;
}

@media screen and (min-height: 400px) {
  .content-centro {
    max-height: 30em;
    overflow: auto;
  }
}

@media screen and (min-height: 600px) {
  .content-centro {
    max-height: 35em;
    overflow: auto;
  }
}

@media screen and (min-height: 800px) {
  .content-centro {
    max-height: 50em;
    overflow: auto;
  }
}

@media screen and (min-height: 900px) {
  .content-centro {
    max-height: 55em;
    overflow: auto;
  }
}
